<div class='row'>
	<div class='col-md-12 text-center'> 
		<p>{{formattedTime}}</p>
		<p>{{formatted_address}}</p>
		<p>{{responsesDescriptions}}</p>
		<p>Description: {{description}}</p>
	</div>
</div>