<footer class="footer-distributed">

<div class="footer-right">

	<a href="#"><i class="fa fa-skype"></i></a>
	<a href="#"><i class="fa fa-envelope"></i></a>
	<a href="#"><i class="fa fa-linkedin"></i></a>
	<a href="#"><i class="fa fa-github"></i></a>

</div>

<div class="footer-left">

	<p>A Weekend Project By: <br /></p>

	<p id="name">Timothy Fung</p>
</div>

</footer>


<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>