<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Temperature page</title>
	{{> head}}
	<link rel="stylesheet" type="text/css" href="/css/cool.css">
	
</head>
<body>
	<div class="container">
		<div class='row'>
			<div class='col-md-12 text-center'>
				<h1 id='temperature'>{{temperature}}<span id='celsius'>&#9675;</span></h1>
			</div>
			{{> weatherIcon}}
		</div>

		{{> centerInfo}}

		<div class='row'>
			<div class='col-md-12 text-center button'>
				<form action="https://calm-coast-22485.herokuapp.com/">
					<button class="btn btn-primary" onClick=""><span class="glyphicon glyphicon-search"></span> Search Again</button>
					<button class="btn btn-primary" onClick="window.location.reload()"><span class="glyphicon glyphicon-refresh"></span> Refresh</button>
				</form>
			</div>
		</div>
	</div>

	{{> footer}}

</body>
</html>