<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Weather App | Home Page</title>
	{{head}}
	<link rel="stylesheet" type="text/css" href="/css/home.css">
</head>
<body>
	<div id="wrap">
		<form action="/weather/:address" name="address" method="GET">
			<input id="search" name="address" type="text" placeholder="Type in your location"><input id="search_submit" type="submit">
		</form>
	<p id='clickHere'>Click here</p>
	</div>

</body>
</html>

