<!DOCTYPE html>
<html>
<head>
	<title>Home Page</title>
	<link rel="stylesheet" type="text/css" href="/home.css">
</head>
<body>
	<div id="wrap">
		<form action="/weather/:address" name="address" method="GET">
			<input id="search" name="address" type="text" placeholder="Type in your location"><input id="search_submit" type="submit">
		</form>
	<p id='clickHere'>Click here</p>
	</div>

<!-- 	<div class='row'>
		<h1 id='title'>Weather</h1>
	</div>

	<footer>A weekend project by Timothy Fung</footer> -->
</body>
</html>

