<!DOCTYPE html>
<html>
<head>
	<title>Home Page</title>
	<link rel="stylesheet" type="text/css" href="/home.css">
</head>
<body>
	<div id="wrap">
		<form action="/weather/:address" name="address" autocomplete="on" method="GET">
			<input id="search" name="address" type="text" placeholder="Type in your location"><input id="search_submit" value="Rechercher" type="submit">
		</form>
	<p id='click'>Click here</p>
	</div>
</body>
</html>

